      ############ Política de reinicio de contenedores ############
  # always: Siempre reiniciar el contenedor si falla
  # unless-stopped: Reiniciar el contenedor a menos que se detenga explícitamente
  # on-failure: Reiniciar el contenedor solo si falla
  # no: No reiniciar el contenedor si falla
RESTART_POLICY=always



      ############ Configuración de la base de datos ############
  ###### Versión de PostgreSQL ######
POSTGRES_VERSION=14

  ###### Nombre de la base de datos ######
POSTGRES_DB=postgres

  ###### Usuario de la base de datos ######
POSTGRES_USER=flectrauser

  ###### Contraseña de la base de datos ######
POSTGRES_PASSWORD=flectrapassword

  ###### Puerto externo de PostgreSQL ######
POSTGRES_PORT=5432

  ###### Host de PostgreSQL ######
POSTGRES_HOST=db



      ############ Configuración de Flectra ############
  ###### Versión de Flectra ######
FLECTRA_VERSION=3.0

  ###### Puerto externo de Flectra (puerto de acceso al navegador) ######
FLECTRA_EXT_PORT=7073

  ###### Puerto externo de Flectra para LiveChat ######
FLECTRA_EXT_LIVECHAT_PORT=7072